{% set navigation_bar = [
    ('index', 'Home'),
    ('led_control', 'Led Lamp'),
    ('temperature', 'Temperature and humidity'),
    ('set_lights', 'Setting lights'),
    ('set_blinds', 'Calibration blinds'),
    ('admin', 'Admin')
] -%}

<nav class="navbar-custom">
    <ul class="nav nav-pills justify-content-center" id="myTab">
        {% for href, caption in navigation_bar %}
            <li class="nav-item {% if url_for(request.endpoint) == url_for(href) %} active-custom {% endif %}">
                <a class="nav-link" href="{{ url_for(href) }}"> {{ caption }} </a>
            </li>
        {% endfor %}
    </ul>
</nav>

