{% extends '_main.jinja' %}
{% block title %} Temperature and humidity {% endblock %}
{% block main %}
<div class="row">
    <div class="card card-1 col-md-6 text-md-center">
        <div class="cart-body">
            <h3 class="card-title text-md-center">Temperature and humidity from DHT22</h3>
            <table class="tabble-custom text-md-left">
                <tr>
                    <td>Temperature:</td>
                    <td>{{ temp }} *C</td>
                </tr>
                <tr>
                    <td>Humidity:</td>
                    <td>{{ hum }} %</td>
                </tr>
            </table>
            <h4 class="card-title">Graph temperature in 24 hours</h4>
            <div class="thumbnail">
                <img class="img-fluid" src="{{ url_for('static',filename='graph/') }}{{ temperature_file }}"/>
            </div>
            <h4 class="card-title">Graph humidity in 24 hours</h4>
            <div class="thumbnail">
                <img class="img-fluid" src="{{ url_for('static',filename='graph/') }}{{ humidity_file }}"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}